<h1><%= @season.name %> Fixtures</h1>


<table>
  <tr>
    <th>Match date</th>
    <th>Team</th>
    <th>Team won</th>
    <th>Mom</th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.match_date %></td>
    <td><%= match.team_one.name %> vs <%= match.team_two.name %></td>
    <td><%= match.team_won.name if match.team_won %></td>
    <td><%= match.mom.name if match.mom %></td>
    <td><%= link_to 'Scorecard', season_match_matchdetails_url(match.season, match) %></td>
    <td><%= link_to 'Players', match_matchplayers_url(match) %></td>
    <% if false %><td><%= link_to 'Show', season_match_url(match.season, match) %></td> <% end %>
    <td><%= link_to 'Edit', edit_season_match_url(match.season, match) %></td>
    <td><%= link_to 'Destroy', season_match_url(match.season, match), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_season_match_url(@season) %>
<%= link_to 'Seasons', seasons_url() %>
